<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hinban</title>
</head>
<body>
    <form action="/hinban2"method="post">
            品目<input type="text"name="hinmoku">
            <br>
            ジャンル<input type="text"name="genru">
            <br>
            価格<input type="text" name="kakaku">
            <br>
            メーカー<input type="text" name="meka">
            <br>
        <button type="submit">決定</button>
    </form>
</body>
</html>