<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/regist2" method="post">
        名前<input type="text" name="first_name">
        <br>
        苗字<input type="text" name="last_name">
        <br>
        住所<input type="text" name="address">
        <br>
        電話番号<input type="text" name="tel">
        <button type="submit">登録</button>
    </form>
</body>
</html>