<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/tyumon2" method="post">
        品目<select name="hinban_id">
            <option value="1">テレビ</option>
            <option value="2">テニスラケット</option>
            <option value="3">ジュース</option>
            <option value="4">鯖の缶詰</option>
            <option value="5">野球グローブ</option>
            <option value="6">冷蔵庫</option>
        </select>
        <br>
        個数 <input type="number" name="kosuu">
        <br>
        名前 <select name="meibo_id">
            <option value="1">杉﨑</option>
            <option value="2">山田</option>
            <option value="3">佐藤</option>
        </select>
        <br>
        注文時価格 <input type="number" name="tyumonzikakaku">
        <br>
        状態 <input type="text" name="jotai">
        <button type="submit">決定</button>
    </form>
</body>
</html>