<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/tyumon2" method="post">
        品目<select name="hinban_id">
            {%for goods in hinmokulist2 %}
            <option value="{{goods[0]}}">{{goods[1]}}</option>
            {% endfor %}
        </select>
        <br>
        個数 <input type="number" name="kosuu">
        <br>
        名前 <select name="meibo_id">
            {% for item in meibolist2 %}
            <option value="{{item[0]}}">{{item[1]}}{{item[2]}}</option>
            {% endfor %}
            <!-- <option value="1">杉﨑</option>
            <option value="2">山田</option>
            <option value="3">佐藤</option> -->
        </select>
        <br>
        注文時価格 <input type="number" name="tyumonzikakaku">
        <br>
        状態 <input type="text" name="jotai">
        <button type="submit">決定</button>
    </form>
</body>
</html>