<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/tyumon2" method="post">
        品番ID <input type="text" name="hinban_id">
        <br>
        個数 <input type="text" name="kosuu">
        <br>
        名簿ID <input type="text"name="meibo_id">
        <br>
        注文時価格 <input type="text" name="tyumonzikakaku">
        <br>
        状態 <input type="text" name="jotai">
        <button type="submit">決定</button>
    </form>
</body>
</html>